.botaoSocial{
    width: 2.5rem;
}

.botaoSocial:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.658);
    border-radius: 50px;
    width: 3rem;
    transition: 0.8s;
}
.botaoSocial:not(:hover) {
    transition: 0.8s;
}