.presentationDiv{
    color: rgb(59, 59, 59);
    display         : flex;
}

.presentationDiv p{
    max-width: 90%;
    text-align: justify;
}

.presentationDiv img{
    width: 100%;
    max-width: 400px;
}

.presentationDiv #divInformation{
    flex: 1 150px;
}

.presentationDiv #divInformationProfile{
    flex: 1;
    max-width: 408px;
}

@media screen and (max-width: 1240px) {
    .presentationDiv #divInformationProfile{
        display: none;
    }

    .presentationDiv p{
        max-width: 100%;
    }
}

